* {
   box-sizing: border-box;
}
body {
   background-image: url("Gallery/BGMountains.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   font-family: 'Raleway', sans-serif;
}
.ui-form {
   position: absolute;
   display: block;
   padding: 80px 30px 30px;
   margin: 50px auto 30px;
   background: white;
   border-top: 5px solid #2A2922;
   height: 54%;
   top: 20%;
   left: 40%;
   width: 20%;
}
.ui-form h3 {
   position: relative;
   z-index: 5;
   margin: 0 0 60px;
   text-align: center;
   color: #2A2922;
   font-size: 30px;
   font-weight: normal;
}
.form-row {
   position: relative;
   margin-bottom: 20px;
}
.form-row input {
   display: block;
   width: 100%;
   padding: 0 10px;
   line-height: 40px;
   background: none;
   border-width: 0;
   border-bottom: 2px solid #2A2922;
   transition: all 0.2s ease;
}
.form-row label {
   position: relative;
   top: -16px;
   left: 13px;
   color: #9d959d;
   font-size: 20px;
   font-weight: 300;
   transform: translateX(-35px);
   transition: all 0.2s ease;
}

.form-row input:focus {
   outline: 0;
   border-color: #e8b341;
}
.form-row input:focus+label, .form-row input:valid+label {
   transform: translateY(-60px);
   margin-left: -14px;
   font-size: 14px;
   font-weight: 400;
   outline: 0;
   border-color: #e8b341;
   color: #e8b341;
   z-index: -1;
}
.ui-form input[type="submit"] {
   width: 100%;
   padding: 0;
   line-height: 42px;
   background: #2A2922;
   border-width: 0;
   color: white;
   font-size: 20px;
}

.ui-form input[type="submit"]:hover {
   width: 100%;
   padding: 0;
   line-height: 42px;
   background: #5e5d4d;
   border-width: 0;
   color: white;
   font-size: 20px;
}

.ui-form p {
   margin: 0;
   padding-top: 10px;
}

.gotoregistration {
   display: block;
   position: absolute;
   left: 20%;
   width: 60%;
   height: 30%;
   padding-top: 5%;
   margin-top: 5%;


}

div.gotoregistration h3 {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-size: 150%;

}


div.gotoregistration p{

    display: block;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 35%;
    font-size: 120%;
   text-decoration: none;
   color: #2A2922;
}

.text-underlined{
  position: relative;
  overflow: hidden;
  left: 155%;
  top: 220%;

  will-change: color;
  transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}
