<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{ url_for('static', filename='forumstyle.css') }}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon " href="{{ url_for('static', filename='Gallery/Icon.png') }}">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
</head>
<body>

    <div class="mainbody">
        <div class="mainbodytop">
            Forum
        </div>

        <div class="themesbody">

        </div>

        <div class="leftmenu">

        </div>

    </div>

</body>
</html>