<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon " href="{{ url_for('static', filename='Gallery/Icon.png') }}">
<head>
    <meta charset="UTF-8">
    <title>Bear Grylls</title>
</head>
<body>

    <div class="iconsBR">
        <ul>

            <li><a href="https://mobile.twitter.com/beargrylls"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://instagram.com/beargrylls?igshid=1se87u2dyprfv"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://m.facebook.com/RealBearGrylls?locale2=ru_RU"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>

        </ul>
    </div>


    <!--
    <div id=flipper>

        <div id=flipperbox>
            <div><div>Rehydrate</div></div>
            <div><div>Adapt</div></div>
            <div><div>Improvise</div></div>
        </div>

    </div>
    -->


    <div class="maintxt">

        This site<br>
        Is about<br>
        Bear Grylls<br>

    </div>

    <div class="menuTOP">

            <a href="https://seasongid.com/season-9625-man_vs_wild.html">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Man vs Wild
            </a>
            <a href="{{ url_for('login') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Forum
            </a>

    </div>

    <div class="newbody">

        <div class="description1">
            Edward Michael «Bear» Grylls - британский путешественник, телевизионный ведущий и писатель. Наиболее известен по телепрограмме «Выжить любой ценой».
        </div>


       <!--<div class="imagescene">

         <div class="imagesliderbox">
            <aside class="slider">
                <div class="sliderimg">
                    <figure><img src="1pslidep.jpg" alt=""></figure>
                    <figure><img src="2pslidep.png" alt=""></figure>
                    <figure><img src="3pslidep.png" alt=""></figure>
                    <figure><img src="4pslidep.png" alt=""></figure>
                </div>
            </aside>
        </div>-->



        <div class ="Biography">

            <div class="BiographyTopTXT">

                BEAR GRYLLS

            </div>

            <div class="BiographyUnderTopTXT">
            </div>

            <div class="triangle-l"></div> <!-- Левый уголок под заголовком -->
            <div class="triangle-r"></div> <!-- Правый уголок под заголовком -->


            <div class="BiographyMiddleTXT">

                <div class="BiographyFirstTXT">
                    &nbsp;&nbsp;<b>Кто такой Беар Гриллс?</b> <br><br>
                    &nbsp;&nbsp;Мир знает его, как отчаянного авантюриста и смельчака, эксперта по выживанию в сложных и опасных условиях, успешного телеведущего, писателя, оратора. Более всего известен по программе «Выжить любой ценой». Достичь таких блестящих результатов Гриллсу удалось за счёт наличия нескольких важных качеств. Среди них: чисто детское любопытство, отважность, стремление к цели, упорство, умение быть собой и наплевать на условности. Личность самого экстремала вызовет очень разные и довольно противоречивые эмоции. Но ясно одно – пример Беара вдохновляет поверить в себя, а также признать: человек может больше, чем он думает.

                </div>

            <div class="BGFORBiographyFirstTXT">
            </div>


            <div class="BiographySecondTXT">

                    &nbsp;&nbsp;<b>Детство.</b> <br><br>
                    &nbsp;&nbsp;Родился известный сорвиголова в Лондоне Великобритании 7 июня 1974 года. Родители нарекли сына именем Эдвард Майкл, а прозвище Беар («медведь») ему дала старшая сестра. Лара, которой на тот момент было 8 лет, считала новорождённого брата забавной и милой игрушкой. Поэтому и назвала его по аналогии с плюшевым медвежонком, и так у недельного Эдварда возник свой псевдоним.
                    <br><br>
                    &nbsp;&nbsp;Мать будущей звезды Сара Форд занималась домашним хозяйством, воспитывала детей и помогала мужу в политической карьере. Отец Гриллса, Майкл, был членом Консервативной партии, военным-отставником Королевской морской пехоты, также увлекался походами и верховой ездой. Именно он повлиял на раннее детство Беара, в значительной мере определил его склонности и интересы. Между отцом и сыном была достаточная близость, и Майкл активно привлекал как Беара, так и старшую дочь к своим занятиям. Также отец привил Гриллсу любовь к приключениям. Из ранних воспоминаний Беара – то, как они с родителем совершали восхождение на скалы и вместе мастерили лодки.
                    <br><br>
                    &nbsp;&nbsp;В возрасте 4 лет Гриллс вместе с семьёй переехал на восточное побережье острова Уайт в деревеньку Бембридж. С самого юного возраста Беара тянуло к экстриму, он занимался спортом, лазал по скалам, также увлекался карате и получил по нему чёрный пояс. Учёба Беара проходила в Ладгроувской школе-пансионе, после он обучался в Итонском колледже, затем – в Лондонском университете. Кроме родного английского, он может также похвастаться знанием немецкого, испанского и французского языков.
            </div>

            <div class="BGFORBiographySecondTXT">
            </div>

            <div class="BiographyThirdTXT">
                &nbsp;&nbsp;<b>Военная служба и первая покорённая вершина.</b> <br><br>
                &nbsp;&nbsp;В возрасте 20 лет юный Беар Гриллс отправился на службу в британскую армию. Там он пополнил ряды военнослужащих спецподразделения Special Air Service. Будучи солдатом 21-го полка SAS, юноша обучался ближнему бою и навыкам выживания. Впоследствии умения, полученные во время несения службы, понадобились ему для осуществления разных удивительных подвигов.
                Гриллс успел побывать в Индии и Северной Африке, а в 1996 году серьёзно травмировался. В Замбии при выполнении прыжка с парашютом Беар ломает позвоночник в трёх местах. Травма приковывает его надолго к больничной койке, более того – он может остаться навсегда инвалидом. И всё-таки, несмотря на мрачные прогнозы, Беар находит достаточно сил, чтобы полностью восстановиться. В 1998-м он совершает желанное и вымечтанное с детства восхождение на гору Эверест.
                <br><br>
                &nbsp;&nbsp;В возрасте 23-х Гриллс попадает в Книгу рекордов, как самый молодой британец, покоривший Вершину мира. Там он прочувствовал на себе трудности от плохой погоды, утомления, обезвоживания, кислородного голодания. Этот весомый шаг, который ещё удивительнее, учитывая все преграды, повлёк за собой целую серию приключений.

            </div>

            <div class="BGFORBiographyThirdTXT">
            </div>

             <div class="BiographyFourthTXT">
                &nbsp;&nbsp;<b>Начало семейной жизни и последующие экспедиции.</b> <br><br>
                &nbsp;&nbsp;В 2000 году Гриллс женился на своей ровеснице Шаре Каннингс-Найт. Девушку экстремал встретил в Шотландии, где в то время готовился совершить восхождение на Эверест. В Испании на берегу Атлантического океана Беар сделал предложение возлюбленной. С Шарой они купались голыми, затем выбрались на берег, и там Гриллс стал на одно колено и произнёс подготовленную речь. Закончить ему не удалось – волна опрокинула Беара и прервала момент романтики. Этот курьёз показался Шаре довольно-таки смешным, но всё же она согласилась выйти за него.
                <br><br>


                &nbsp;&nbsp;В том же году Беар Гриллс за месяц обошёл на лодках Британские острова. Целью было собрать деньги для Королевского института спасения на водах. Также Беар голышом проплыл на лодке вдоль Темзы, дабы помочь собрать средства травмированному другу. Тот потерял обе ноги вследствие несчастного случая. Плавание по Темзе Гриллс совершал вместе с лучшим товарищем Чарли Макки. Кроме того, экстремал пробует себя на телевизионном поприще: снимается в рекламе, рассказывающей о его путешествии на Эверест.
                <br><br>
                &nbsp;&nbsp;В 2003 году Беар в возрасте 29-ти становится отцом – у него рождается сын Джесси. Также в 2003-м пересёк северный участок Атлантического океана на надувной лодке. В той экспедиции с Гриллсом была его команда в составе пяти человек, им удалось безопасно достигнуть намеченной цели. Путь пролегал от канадского порта Галифакс до крайней шотландской северной точки Джон О’Гроатс. То плавание принесло ему почётное звание лейтенант-коммандера военно-морского резерва.
                <br><br>


                &nbsp;&nbsp;Позже, в 2005-м, он выполняет полёт над водопадом Анхель, самым высоким в мире. Летел на парамоторе. В том же 2005-м осуществляет новый безумный план: обедает на высоте свыше 7 километров. Попутно Гриллс устанавливает мировой рекорд – как участник самого высокого званого обеда.
                <br><br>
                &nbsp;&nbsp;В 2006-м семья Гриллсов пополнилась ещё одним отпрыском, сыном Мармадьюком. Вскоре бесстрашный Беар пролетает на парамоторе над Гималаями. Он поднимается в небо настолько высоко, что видит вершину Эвереста. Там его ожидают зверский холод и экстремально низкий уровень кислорода. Это приключение Беара, как и многие другие, заканчивается вполне благополучно. Он устанавливает очередной мировой рекорд, поднявшись на высоту 8991,6 метра.
                <br><br>
                &nbsp;&nbsp; В период с 2006 по 2007 годы Гриллс получает предложение сняться в проекте канала «Дискавери». Там ему предстоит попасть в некоторые из наиболее суровых мест на планете. Естественно, попутно продемонстрировав навыки выживания. В 2008-м путешествует в составе антарктической экспедиции. Катаясь на кайт-лыжах, Беар ломает себе плечо. Экспедиция приостановлена, и их эвакуируют. Позже в том же году выполнил ещё один трюк. Самое продолжительное падение в вертикальной аэротрубе.
                <br><br>
                &nbsp;&nbsp; В 2009 году свет увидел младший сын Беара, названный Гекльберри. Спустя год Гриллс участвует в плавании через Северо-Западный проход. Цель путешествия состояла в привлечении внимания к проблеме изменения климата. Кроме того, ожидалось собрать деньги для детского фонда «Global Angels». В течение плавания группа останавливалась заночевать на безымянном острове. Там были найдены части разрушенных корабельных мачт, след от большого костра, а также человеческие останки. Видимо, потерпевшие после крушения судна пробовали разжечь огонь для сигнала о бедствии. Что произошло, и кто именно погиб на острове, на данное время точно не установлено.


            </div>

            <div class="BGFORBiographyFourthTXT">
            </div>

            <div class="BGFORBiographyFourth2TXT">
            </div>

            <div class="BiographyFifthTXT">

                &nbsp;&nbsp;<b>Карьера на телевидении, писательство, жизнь в настоящее время.</b> <br><br>
                &nbsp;&nbsp;Как ранее выше сообщалось, Беар преуспел не только в покорении природы. Мир телевизионный, не столь суровый, как дикая среда, также вошёл в число интересов выживальщика. Так, он снимался в проектах «Выжить любой ценой», «Хроника покорения Эвереста», «Особое меню от Беара Гриллса», «Дикие выходные Беара», «Остров с Беаром Гриллсом» и некоторых других. Известны такие книги, написанные британцем, как: «Грязь, пот и слёзы» (автобиографическая), «Руководство по выживанию для жизни» (мотивационная), серия «Выживание для детей», художественный роман под названием «Призрачный полёт».
                <br><br>
                &nbsp;&nbsp;Участие в разработке инструментов для выживания совместно с компанией Gerber привело к выпуску знаменитой серии Gerber Bear Grylls, а в последнее время Беар стал лицом бренда Land Rover.
                <br><br>
                &nbsp;&nbsp;К тому же, в 2009-м Беар возглавил «Ассоциацию скаутов» Соединённого Королевства и заморских территорий. Став наиболее молодым руководителем подобной организации – в 35 лет. Вне телевидения Гриллс работает мотивационным оратором, выступает с докладами в школах, церквях, корпорациях, ассоциациях.
                <br><br>
                &nbsp;&nbsp;Своими секретами лидер по выживанию и экстриму делится со всеми заинтересованными. Главное, по его словам, – устойчивость и умение приспособиться. Самая типичная ошибка в условиях выживания – неспособность гибко выходить из ситуации. При этом он акцентирует, что ни навыки, ни оборудование не являются ключевыми для успеха. Важнее всего – упорство, решимость идти до конца, невзирая на преграды.


            </div>


            <div class="BGFORBiographyFifthTXT">
            </div>



            </div>

            <div class="footer">
                2021
            </div>

        </div>




    </div>





</body>
</html>