<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon " href="{{ url_for('static', filename='Gallery/Icon.png') }}">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <div class="main">

        <form action="{{ url_for('login') }}" class="ui-form" method="POST">
            {{ form.csrf_token }}
            <h3>Вход</h3>
            <div class="form-row">
                {{ form.email(class_='form-control') }}
                <label for="email">{{ form.email.label }}</label>
            </div>
            <div class="form-row">
                {{ form.password(class_='form-control') }}
                <label for="password">{{ form.password.label }}</label>
            </div>
            <p><input type="submit" value="Войти"></p>
            </form>

    </div>

</body>
</html>